-c requirements.txt
black
coverage
flake8
importlib-metadata<5.0
isort
livereload
mkdocs
mkdocs-git-revision-date-plugin
mkdocs-include-markdown-plugin
mkdocs-material
mkdocs-mermaid2-plugin
mkdocstrings
mknotebooks
mypy
nbmake
pre-commit
promise
pymdown-extensions
pytest
pytest-cov
pytest-mock
pytest-parallel
pytest-xdist
pytype
scipy>=1.7.3
testfixtures
types-Pillow
types-requests<1.27
types-setuptools
